<%= render 'shared/header' %>
<br>
<div class='col-md-6 col-xs-12 col-md-offset-3'>
  <h1>Log in</h1>
  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], autofocus: true, required: true, placeholder: 'Email', class: 'form-control' %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, required: true, placeholder: 'password', class: 'form-control' %>
    </p>
    <br>
    <p>
      <%= submit_tag 'Log in', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>